.card {
  outline: 2px dotted crimson;
  background-color: #bfbfbf;
  font-family: sans-serif;
  display: inline-block;
  padding: 20px;
}

.card__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
}

.card__descr {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  max-width: 70%;
}

.card__btn {
  border: none;
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
}