html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

@font-face {
  font-family: "BaiJamjuree";
  src: local("BaiJamjuree-Regular"),
    url("../fonts/BaiJamjuree-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BaiJamjuree";
  src: local("BaiJamjuree-SemiBold"),
    url("../fonts/BaiJamjuree-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "BaiJamjuree", sans-serif;
  font-weight: 400;
  background-color: var(--white);
}

:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);

  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
  --white: #fff;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1170px;
}

.section {
  padding: 50px 0;
}

.text {
  font-size: 18px;
  color: var(--Grayish-Blue);
}

.title {
  color: var(--Dark-Grayish-Blue);
}
