html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"),
    url(../fonts/OpenSansRegular.woff2) format("woff2")
      url(../fonts/OpenSansRegular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Light"),
    url(../fonts/OpenSansLight.woff2) format("woff2")
      url(../fonts/OpenSansLight.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"),
    url(../fonts/OpenSansSemiBold.woff2) format("woff2")
      url(../fonts/OpenSansSemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

:root {
  --self-gap: 30px;
}

/* Global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.section-descr {
  margin: 0;
  margin-bottom: 50px;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
  font-size: 16px;
  line-height: 22px;
  color: #787878;
}

/* Header */
.header {
  padding: 36px 0;
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 52px;
}

.nav__item:not(:last-child) {
  margin-right: 52px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  color: #1c1c1c;
  font-size: 15px;
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline: 1px solid #71a7e2;
  outline-offset: 2px;
}

.nav__link:hover {
  color: #71a7e2;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3473ba;
  opacity: 0;
  transition: color 0.3s ease-in-out;
}

.nav__link:active {
  color: #3172b9;
  outline: none;
}

.nav__link:active::after {
  opacity: 1;
}

.btn {
  padding: 15px 35px;
  position: relative;
  outline: none;

  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  background: #3172b9;
  color: #fff;
  border-radius: 3px;
  transition: backround-color 0.3s ease-in-out;
}

.btn::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border-radius: inherit;
  border: 1px solid #3172b9;
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.btn:focus::after {
  opacity: 1;
}

.btn:hover {
  background-color: #71a7e2;
}

.btn:active {
  background-color: #0e3b6c;
}

.btn:active::after {
  opacity: 0;
}

/* Hero */
.hero {
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__content {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
}

.hero__descr {
  margin: 0;
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__btn {
  margin-bottom: 14px;
  padding: 20px 0;
  min-width: 250px;
  margin-bottom: 14px;
}

.hero__secure {
  padding-left: 30px;
  font-size: 11px;
  line-height: 155%;
  color: #787878;
  text-transform: uppercase;
  background-image: url("../img/secure.svg");
  background-position: left center;
  background-size: 14px 17px;
  background-repeat: no-repeat;
}

/* Services */
.services {
  border-bottom: 1px solid #dadada;
}

.services__title {
  text-align: center;
}

.services__descr {
  text-align: center;
}

.services__list {
  --offsets: 3;
  gap: var(--self-gap);
  flex-wrap: wrap;
}

.services__item {
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  width: calc((100% - var(--self-gap) * var(--offsets)) / (var(--offsets) + 1));
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.services__item:hover {
  border-color: #3172b9;
  background-color: #3172b9;
}

.services__icon {
  margin-bottom: 25px;
  fill: #3172b9;
  transition: fill 0.3s ease-in-out;
}

.services__item-title {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
}

.services__item:hover .services-item-title {
  color: #fff;
}

.services__item-descr {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.services__item:hover .services-item-descr {
  color: #fff;
}

.services__item:hover .services-item-icon {
  fill: #fff;
}

/* Articles */
.articles {
  border-bottom: 1px solid #dadada;
}

.articles__list {
  flex-wrap: wrap;
  --offsets: 1;
  gap: var(--self-gap);
}

.articles__item {
  width: calc((100% - var(--offsets) * var(--self-gap)) / (var(--offsets) + 1));
  margin-bottom: 30px;
}

.articles__blog {
  height: 100%;
  overflow: hidden;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.articles__blog_image {
  object-fit: cover;
}

.articles__blog-text {
  padding: 30px;
}

.articles__blog-time {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.articles__blog-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}

.articles__blog-descr {
  margin: 0;
  max-width: 210px;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.articles__blog-link {
  display: flex;
  position: relative;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.articles__blog-link:focus {
  background-color: #71a7e2;
}

.articles__blog-link:focus .articles__blog-title {
  color: #fff;
}

.articles__blog-link:focus .articles__blog-descr {
  color: #fff;
}

.articles__blog-link:focus .articles__blog-time {
  color: #fff;
}

.articles__blog-link:hover {
  background-color: #3172b9;
}

.articles__blog-link:hover .articles__blog-title {
  color: #fff;
}

.articles__blog-link:hover .articles__blog-descr {
  color: #fff;
}

.articles__blog-link:hover .articles__blog-time {
  color: #fff;
}

.articles__blog-link:active {
  background-color: #0e3b6c;
}

.articles__blog-link:active .articles__blog-title {
  color: #fff;
}

.articles__blog-link:active .articles__blog-descr {
  color: #fff;
}

.articles__blog-link:active .articles__blog-time {
  color: #fff;
}

/* Clients */
.clients {
  border-bottom: 1px solid #dadada;
}

.clients__list {
  --offsets: 2;
  flex-wrap: wrap;
  gap: var(--self-gap);
}

.clients__item {
  flex-direction: column;
  width: calc((100% - var(--self-gap) * var(--offsets)) / (var(--offsets) + 1));
  padding: 50px 36px;
  padding-bottom: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.clients__item-descr {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.clients__user {
  margin-top: auto;
  padding-top: 28px;
  width: 100%;
  align-items: center;
  border-top: 1px solid #dadada;
}

.clients__avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients__avatar img {
  width: 100%;
  height: 100%;
  border: 2px solid #3172b9;
  border-radius: 100%;
}

.clients__name {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;
}

.clients__post {
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

/* Contacts */
.contacts {
  border-bottom: 1px solid #dadada;
}

.contacts__adress {
  font-style: normal;
}

.contacts__list {
  --offsets: 2;
  flex-wrap: wrap;
  gap: var(--self-gap);
}

.contacts__item {
  padding-top: 48px;
  flex-direction: column;
  width: calc((100% - var(--self-gap) * var(--offsets)) / (var(--offsets) + 1));
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
}

.contacts__address {
  background-image: url("../img/location_on.svg");
}

.contacts__call {
  background-image: url("../img/phone.svg");
}

.contacts__mail {
  background-image: url("../img/mail.svg");
}

.contacts__caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;
}

.contacts__text {
  margin: 0;
  max-width: 215px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.contacts__link {
  font-size: 14px;
  line-height: 180%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.contacts__link:focus {
  outline: 1px solid #71a7e2;
}

.contacts__link:hover {
  color: #71a7e2;
}

.contacts__link:active {
  outline: none;
  color: #0e3b6c;
}

/* Join us */
.join-us {
  border-bottom: 1px solid #c4c4c4;
}

.join-us__title {
  text-align: center;
}

.join-us__descr {
  text-align: center;
  margin-bottom: 30px;
}

.form {
  padding: 0 55px;
}

.form__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.form__left {
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 14px;
}

.form__right {
  width: 49%;
}

.form__input {
  padding: 16px 28px;
  width: 251px;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid #dadada;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form__select {
  padding: 16px 28px;
  width: 251px;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid #dadada;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form__textarea {
  padding: 28px 16px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #dadada;
  border-radius: 20px;
  resize: none;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form__bottom {
  display: flex;
  justify-content: flex-end;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__btn {
  min-width: 230px;
  padding: 20px 0;
  margin-bottom: 9px;
  border-radius: 50px;
}

.form__check {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.form__check input {
  margin-right: 8px;
}

.form__check a {
  color: #3172b9;
  border-bottom: 1px solid #3172b9;
}

/* Footer */
.footer {
  padding: 42px 0;
}

.footer__copy {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.nav__link {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline-offset: 2px;
  outline: 1px solid #71a7e2;
}

.nav__link:hover {
  color: #71a7e2;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3473ba;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.footer__container {
  align-items: center;
  justify-content: space-between;
}

.footer__nav {
  margin-right: 56px;
}

.footer__left,
.footer__right {
  align-items: center;
}

.footer__logo {
  margin-right: 25px;
}

.nav__item:not(:last-child) {
  margin-right: 28px;
}

.social__link {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: co ntain;
}

.social__item:not(:last-child) {
  margin-right: 32px;
}

.social__link_tw {
  background-image: url("../img/twitter\ logo.svg");
}

.social__link_linkedin {
  background-image: url("../img/linkedin\ logo.svg");
}

.social__link_mail {
  background-image: url("../img/mail-logo.svg");
}

/* Media */
.burger {
  display: none;
}