html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

@font-face {
  font-family: "Outfit";
  src: local("Outfit-Regular"),
    url("../fonts/Outfit-Regular.woff2") format("woff2"),
    url("../fonts/Outfit-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: local("Outfit-Bold"), url("../fonts/Outfit-Bold.woff2") format("woff2"),
    url("../fonts/Outfit-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  background-color: #c4d4e4;
}

/* Global */
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}

.flex {
  display: flex;
}

.title-reset,
.text-reset {
  margin: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

/* Main */
.wrapper {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.main__qr {
  max-width: 340px;
  min-height: 400px;
  padding: 20px 20px 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  background-color: var(--white);
  border-radius: 16px;
}

.qr__logo-img {
  max-width: 300px;
  min-height: 300px;

  border-radius: 8px;
}

.qr__title {
  max-width: 250px;

  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: var(--dark-blue);
}

.qr__text {
  max-width: 250px;

  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: var(--grayish-blue);
}
