/* Basement */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

/* Index html page */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo {
  display: inline-block;
  margin-bottom: 50px;
}

.link {
  margin-bottom: 50px;
}

.link .anchor {
  display: inline-block;
  padding: 24px 49px;
  margin-right: 25px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.link .anchor:last-child {
  margin-right: 0;
}

.download-box {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;

  padding-left: 25px;
  background-image: url("../img/download.png");
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Article page */
.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.heading-1,
.heading-2,
.heading-3,
.text-content {
  margin: 0;
}

.heading-1 {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

.heading-2 {
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.heading-3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.heading-2,
.heading-3 {
  margin-bottom: 10px;
}

.text-content {
  margin-bottom: 40px;
  width: 872px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.text-content.sign {
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: white;
  background-color: #3f2aff;
}

.list {
  margin: 0;
  padding-left: 15px;
}

.list-element:not(:last-child) {
  margin-bottom: 20px;
}

.list-element::marker {
  color: #3f2aff;
}

.list .anchor-art {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}

.block {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom: 40px;

  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
}

.block:last-child {
  margin-bottom: 0;
}

.bg-1 {
  background-image: url("../img/decorate-1.png");
}

.bg-2 {
  background-image: url("../img/decorate-2.png");
}

.block .text-content:last-child {
  margin-bottom: 0;
}

.block .text-content {
  width: 692px;
  margin-bottom: 10px;
}

.photo {
  margin-bottom: 40px;
}

.photo-text .photo {
  margin-bottom: 0;
}

.photo-text {
  display: inline-block;
  margin: 0 0 40px;
  width: 872px;
  font-size: 0;
}

.photo-cap {
  border: 1px solid #b6b6b6;
  border-top: none;
  padding: 19px 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
