@media (max-width: 1200px) {
  .form__input,
  .form__select {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .header__nav {
    display: none;
  }

  .burger {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;

    border: 1px solid currentColor;
    border-radius: 3px;
    color: #3172b9;
  }

  .burger__line {
    width: 20px;
    height: 2px;
    position: absolute;
    left: 50%;

    transform: translateX(-50%);
    border-radius: inherit;
    background-color: currentColor;
  }

  .burger__line:nth-child(1) {
    top: 13px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .burger__line:nth-child(3) {
    bottom: 13px;
  }

  .header__btn {
    margin-right: 7px;
    padding: 11px 21px;
  }

  .hero__content {
    max-width: 75%;
  }

  .services__list {
    --offsets: 2;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__left {
    margin-bottom: var(--self-gap);
  }
}

@media (max-width: 768px) {
  .services__list {
    --offsets: 1;
  }

  .articles__blog-link {
    flex-direction: column;
  }

  .form {
    padding: 0;
  }

  .footer__nav:not(:last-child) {
    margin-right: 18px;
  }
}

@media (max-width: 576px) {
  .clients__list {
    --offsets: 0;
  }

  .contacts__list {
    --offsets: 0;
  }

  .footer__right {
    flex-direction: column;
  }

  .header__logo {
    width: 80px;
  }

  .header {
    padding: 15px 0;
  }

  .hero__content {
    max-width: 100%;
  }

  .hero {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .hero__title {
    margin-bottom: 16px;
  }

  .hero__descr {
    margin-bottom: 16px;
  }

  .hero__wrapper {
    width: 100%;
  }

  .hero__btn {
    width: 100%;
  }

  .section-offset {
    padding: 60px 0;
  }

  .services__title {
    text-align: left;
  }

  .section-title {
    margin-bottom: 16px;
  }

  .section-descr {
    margin-bottom: 15px;

    font-size: 16px;
    line-height: 22px;
    text-align: left;
    letter-spacing: 0.4px;
  }

  :root {
    --self-gap: 15px;
  }

  .services__list {
    row-gap: 20px;
  }

  .services__item {
    padding: 15px;
    min-height: 222px;
  }

  .services__icon {
    margin-bottom: 14px;
    height: 42px;
  }

  .services__item-title {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 130%;
  }

  .services__item-descr {
    font-size: 12px;
    line-height: 150%;
  }

  .articles__list {
    --offsets: 0;
  }

  .articles__blog-link {
    flex-direction: row;
    align-items: center;
  }

  .articles__blog {
    min-height: 191px;
  }

  .articles__title {
    margin-bottom: 13px;
  }

  .articles__blog-image {
    width: 86px;
    height: 100%;
    flex-shrink: 0;
  }

  .articles__blog-text {
    padding: 15px 14px;
  }

  .articles__blog-title {
    margin-bottom: 0;
  }
}
