* {
  font-family: sans-serif;
}

body {
  overflow: hidden;
}

.elements {
  display: flex;
  flex-wrap: wrap;
}

.elem {
  flex-grow: 1;
  margin: 30px;
  min-width: 200px;
  max-width: 25%;
  height: 200px;
  background-color: navy;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
  color: #fff;
  font-weight: bold;
}

.elem:hover {
  transition: transform 0.3s;
}

.elem-matrix:hover {
  transform: matrix(1.2,0,0.5,1.2,50,0);
}

.elem-translate:hover {
  transform: translate(5px, 10px);
}

.elem-translateX:hover {
  transform: translateX(50px);
}

.elem-translateY:hover {
  transform: translateY(150px);
}

.elem-scale:hover {
  transform: scale(0.5, 0.3);
}

.elem-scaleX:hover {
  transform: scaleX(1.5);
}

.elem-scaleY:hover {
  transform: scaleY(1.3);
}

.elem-rotate:hover {
  transform: rotate(180deg);
}

.elem-skew:hover {
  transform: skew(-35deg, 50deg);
}

.elem-skewX:hover {
  transform: skewX(15deg);
}

.elem-skewY:hover {
  transform: skewY(35deg);
}

.elem-rotate-origin {
  display: none;
  transform: rotate(270deg);
  transform-origin: top right;
}