img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.swiper {
	width: 1170px;
	margin: 0 auto;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 10px;
}

.swiper-pagination-bullet {
	width: 15px;
	height: 15px;
}

.swiper-pagination-bullet-active {
	background-color: #fff;
}

.swiper-button-next, .swiper-button-prev {
	color: darksalmon;
}