html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"), url(../fonts/OpenSansRegular.woff2) format("woff2") url(../fonts/OpenSansRegular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Light"), url(../fonts/OpenSansLight.woff2) format("woff2") url(../fonts/OpenSansLight.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"), url(../fonts/OpenSansSemiBold.woff2) format("woff2") url(../fonts/OpenSansSemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

/* Global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.section-descr {
  margin: 0;
  margin-bottom: 50px;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
  font-size: 16px;
  line-height: 22px;
  color: #787878;
}

/* Header */
.header {
  padding: 36px 0;
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
}

.header-link {
  font-weight: 600;
  color: #1c1c1c;
  font-size: 15px;
}

.btn {
  padding: 15px 35px;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  background: #3172b9;
  color: #fff;
  border-radius: 3px;
}

.header-container {
  align-items: center;
}

.header-logo {
  margin-right: auto;
}

.header-nav {
  margin-right: 52px;
}

.header-list-item:not(:last-child) {
  margin-right: 52px;
}

/* Hero */
.hero {
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-content {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
}

.hero-descr {
  margin: 0;
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-btn {
  margin-bottom: 14px;
  padding: 20px 0;
  min-width: 250px;
  margin-bottom: 14px;
}

.hero-secure {
  padding-left: 30px;
  font-size: 11px;
  line-height: 155%;
  color: #787878;
  text-transform: uppercase;
  background-image: url("../img/secure.svg");
  background-position: left center;
  background-size: 14px 17px;
  background-repeat: no-repeat;
}

/* Services */
.services {
  border-bottom: 1px solid #dadada;
}

.services-title {
  text-align: center;
}

.services-descr {
  text-align: center;
}

.services-item {
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  width: 270px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.services-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.services-item-icon {
  margin-bottom: 25px;
}

.services-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
}

.services-item-descr {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
}

/* Articles */
.articles-list {
  flex-wrap: wrap;
}

.articles-item {
  width: 570px;
  margin-bottom: 30px;
  outline: 1px solid coral;
}

.articles-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.blog-preview-image {
  object-fit: cover;
}

.blog-preview-text {
  padding: 30px;
}

.blog-preview-time {
  display: block;
  margin-bottom: 5px;
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 15px;
}

.blog-preview-descr {
  margin: 0;
}

/* Clients */
.clients-item {
  flex-direction: column;
  width: 370px;
  padding: 50px 36px;
  padding-bottom: 30px;
  outline: 1px solid coral;
}

.clients-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.clients-item-descr {
  margin: 0;
  margin-bottom: 30px;
}

.clients-user {
  margin-top: auto;
  align-items: center;
}

.clients-avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients-name {
  margin-bottom: 5px;
}

/* Contacts */
.contacts-adress {
  font-style: normal;
}

.contacts-item {
  flex-direction: column;
  width: 370px;
  outline: 1px solid coral;
}

.contacts-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.contacts-item-caption {
  margin-bottom: 30px;
}

.contacts-item-text {
  margin: 0;
}

.contacts-item-link:not(:last-child) {
  margin-bottom: 5px;
}

/* Footer */
.footer {
  padding: 42px 0;
}

.footer-container {
  align-items: center;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer-item:not(:last-child) {
  margin-right: 28px;
}
