.parent {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.block {
  min-height: 300px;
  background-color: wheat;
  width: 32%;
}

.block:not(:nth-child(3n)) {
  margin-right: 2%;
}


@media (max-width: 768px) {
  .block {
    width: 49%;
  }

  .block:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .block:not(:nth-child(2n)) {
    margin-right: 2%;
  }
}
