/* body {
  padding: 50px;
}

.card {
  border: 1px solid #bfbfbf;
  width: 285px;
  min-height: 400px;
}

img {
  max-width: 100%;
}

.card-text {
  padding: 20px;
}

.card-title {
  margin-bottom: 20px;
}

.card-description {
  margin-bottom: 30px;
}

.card-btn {
  font-size: 16px;
  line-height: 1;
  padding: 12px 20px;

  min-width: 100px; */
  /* height: 30px; */
  /* border: none;
  background-color: #000;
  color: #fff;
}

textarea {
  width: 300px;
  height: 200px;
  padding-left: 20px;
  padding-top: 20px;
  resize: none;
} */

body {
  padding: 50px;
}

.card {
  border: 1px solid #bfbfbf;
  width: 285px;
  height: 400px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

.card-text {
  padding: 20px;
}

.card-title {
  margin-bottom: 20px;
}

.card-description {
  margin-bottom: 30px;
}

.card-btn {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #000;
  color: #fff;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}